* {
    margin: 0;
    padding: 0;
    font-family: kakao;
}

@font-face {
    font-family: kakao;
    src: url(../font/KakaoOTFRegular.otf);
}

e.both_mypage_container {
    display: flex;
}

.mypage_container h4 {
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 18px;
    position: sticky;
    top: 92px;
}

.left_mypage_menu_box {
    position: relative;
    max-width: 1440px;

}

.left_mypage_menu_title {
    height: 100vh;
    width: 322px;
    margin-right: 86px;
    display: inline-block;
    margin-bottom: 18px;

}



.left_mypage_menu {
    width: 100%;
    position: sticky;
    top: 135px;
    overflow: hidden;
}

.mypage_menu_list li {
    list-style-type: none;

}

.mypage_menu_list li a {
    text-decoration: none;
    color: #666666;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 16px;
    padding: 18px 28px 18px 28px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05) !important;
    background-color: #fff;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}