#container7 {
    width:99vw;
    height:100vh;
    position: relative;
}

#container7 #image{
    
    width:100%;
    height:100%;
    background-image: url('porsche-container7.jpeg');
    background-size: cover;
    background-position: center center;
    display:flex;
    justify-content: center;
    margin-top: -120px;}

#container7 >#text{
    position: absolute;
    top: 65% ;
    left: 5%;
    color:white;
    font-weight: bold;
    font-size: 40px;
} 

#container7 #image:hover {
    filter: brightness(50%);
}


