* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container .slide-container {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container .slide-container #container9 {

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

}


#prev{
    color: #fff9f9;
    position: absolute;
    top: 60%;
    left: 10%;
    width: 5em;
    height: 5em;
    text-align: center;
    line-height: 5em;
    font-size: 20px;
    background-color: rgba(0,0,0,.5);
   border-radius: 50%;
   transform: translate(-50%, -50%);
   transition: background 0.5s;

}


#next {
    color: #fff9f9;
    position: absolute;
    top: 60%;
    right: 3%;
    width: 5em;
    height: 5em;
    text-align: center;
    line-height: 5em;
    font-size: 20px;
    background-color: rgba(0,0,0,.5);
   border-radius: 50%;
   transform: translate(-50%, -50%);
   transition: background 0.5s;

}



#prev:hover, #next:hover {
background-color: rgba(0,0,0,.2);
}

#prev.disabled {
    display: none;
}

#next.disabled {
    display: none;
}


#gallery { position: absolute;
    top: 4%;
    left: 5%;
    font-size: 40px;
font-weight: bold;
text-align: left;}

.container .slide-container #container9 .grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 130px;
}

#container9 #img1 {
    /* position: relative; */
    width: 100%;
    height: 100%;
    /* background-color: silver; */
    background-image: url('g_img1.jpeg');
    background-size: cover;
    background-position: center center;
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
    /* transition: transform 0.3s; */
}

#container9 #img1:hover {
    opacity: 0.8;
    /* transform: scale(1.3); */
}

#container9 #img2 {
    width: 100%;
    height: 100%;
    background-image: url('g_img2.jpeg');
    background-size: cover;
    background-position: center center;
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
    /* transition: transform 0.3s; */
}

#container9 #img2:hover {
    /* transform: scale(1.3); */
    opacity: 0.8;
}

#container9 #img3 {
    width: 100%;
    height: 100%;
    background-image: url('g_img3.jpeg');
    background-size: cover;
    background-position: center center;
    grid-column: 3/ span 2;
    grid-row: 1/ span 2;
    /* transition: transform 0.3s; */
}

#container9 #img3:hover {
    /* transform: scale(1.3); */
    opacity: 0.8;
}

#container9 #img4 {
    width: 100%;
    height: 100%;
    background-image: url('g_img4.jpeg');
    background-size: cover;
    background-position: center center;
    grid-column: 1/ span 2;
    grid-row: 2/ span 2;
    /* transition: transform 0.3s; */
}

#container9 #img4:hover {
    opacity: 0.8;
    /* transform: scale(1.3); */
}

#container9 #img5 {
    width: 100%;
    height: 100%;
    background-image: url('g_img5.jpeg');
    background-size: cover;
    background-position: center center;
    grid-column: 3/ span 1;
    grid-row: 3/ span 1;
    /* transition: transform 0.3s; */
}

#container9 #img5:hover {
    opacity: 0.8;
    /* transform: scale(1.3); */
}

#container9 #img6 {
    width: 100%;
    height: 100%;
    background-image: url('g_img6.jpeg');
    background-size: cover;
    background-position: center center;
    grid-column: 4/ span 1;
    grid-row: 3/ span 1;
    /* transition: transform 0.3s; */
}

#container9 #img6:hover {
    opacity: 0.8;
}




/* #container9 {
    width:99vw;
    height:100vh;
    position: relative;}

#container9{
    margin-top: 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#container9 #gallery { 
    position: absolute;
    top: -10%;
    left: 2%;
    font-size: 50px;
    font-weight: bold;
    color: black;
}
#container9 #img1 { 
    /* position: relative; */
    /* width:100%;
    height:100%; */
    /* background-color: silver; */
    /* background-image: url('g_img1.jpeg');
    background-size: cover;
    background-position: center center;
    grid-column: 1/ span 1;
    grid-row: 1/ span 1; */
    /* transition: transform 0.3s; */
/* }

#container9 #img1:hover { 
    opacity: 0.8; */
    /* transform: scale(1.3); */
/* }

#container9 #img2 { 
        width:100%;
        height:100%;
        background-image: url('g_img2.jpeg');
        background-size: cover;
        background-position: center center;
        grid-column: 2/ span 1;
        grid-row: 1/ span 1; */
        /* transition: transform 0.3s; */
    /* }

 #container9 #img2:hover { 
    
    opacity: 0.8;
 }

        #container9 #img3 { 
            width:100%;
            height:100%;
            background-image: url('g_img3.jpeg');
            background-size: cover;
            background-position: center center;
            grid-column: 3/ span 2;
            grid-row: 1/ span 2; */
            /* transition: transform 0.3s; */
        /* } */

            /* #container9 #img3:hover { 
                
                opacity: 0.8;
            }
            #container9 #img4 { 
                width:100%;
                height:100%;
                background-image: url('g_img4.jpeg');
                background-size: cover;
                background-position: center center;
                grid-column: 1/ span 2;
                grid-row: 2/ span 2;
               
            }

                #container9 #img4:hover { 
                    opacity: 0.8;
                   
                }
                #container9 #img5 { 
                    width:100%;
                    height:100%;
                    background-image: url('g_img5.jpeg');
                    background-size: cover;
                    background-position: center center;
                    grid-column: 3/ span 1;
                    grid-row: 3/ span 1;
                    
                }
                    #container9 #img5:hover {
                        opacity: 0.8;
                        
                    }
                    #container9 #img6 { 
                        width:100%;
                        height:100%;
                        background-image: url('g_img6.jpeg');
                        background-size: cover;
                        background-position: center center;
                        grid-column: 4/ span 1;
                        grid-row: 3/ span 1;
                        
                    }
                        #container9 #img6:hover {
                             opacity: 0.8;
                            } */ 
