* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 길이 계산을 편하게 하기위함. box-sizing에 관한 설명은 아래 링크를 참고해주세요 */
}

a {
  text-decoration: none;
  /* 기본 밑줄을 제거합니다 */
}

header {
  padding: 15px;
  width: 100vw;
  height: 8vh;
  display: flex;
  position: sticky;
  top: 0px;
  align-items: center;
  /* 하위 요소들 수직 가운데정렬 */
  background-color: white;
  z-index: 10;
}

.logo_img {
  position: absolute;
  z-index: 5;
  border: 1px solid black;
  margin-left: 70px;
  width: 180px;
  height: 150px;
  top: 0px;
}

.links {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  margin-left: 300px;
}

.main_menu {
  display: flex;
  font-weight: bold;
  color: black;
  font-size: 15px;
  padding: 25px;
  width: 50%;
  height: 100%;
  text-align: center;
  justify-content: flex-start;
  cursor: pointer;
  align-items: center;
}

.icons {
  display: flex;
  padding-left: 200px;
}

.icons a {
  display: flex;
  font-size: 20px;
  color: black;
  padding: 20px;
  align-items: center;
  text-underline-offset: 0.5rem;
}

input {
  border: none;
}

#add_menu {
  font-size: 20pt;
  padding: 10px;
}

/* @media only screen and (max-width: 1100px) {
    .links , .icons {display: none;}
    #add_menu {transform: translate(750px);}
  } */