li { list-style: none;}
.slide_wrapper {
    position: relative;
    margin: 0 auto;
    height: 853px;
    overflow: hidden;
}
.slides {
    position: absolute;
    left: 0; top: 0;
}
.slides.animated {
    transition: 0.5s ease-out;
}
.slides li {
    overflow-y: hidden;
    width: 1920px;
    height: 900px;
    float: left;
}
.prev, .next {
    position: absolute;
    color: red;
    padding: 20px;
    font-size: 40pt;
    font-weight: bold;
    cursor: pointer;
}
.prev {
    z-index: 7;
    bottom: 350px;
}
.next {
    z-index: 7;
    top: 400px;
    right: 0px;
}
