* {
  margin: 0;
  padding: 0;
}

#HeaderBox {
  background-color: #f0f0f0;
  width: 100%;
  padding: 30px;
}

<<<<<<< HEAD:Project_1/css/spec.css
#HeaderBox h1 {
=======
h1 {
>>>>>>> 598875116ea00e0b6ab95cd47d35eb33f41a110e:first_project/css/spec.css
  font-size: 50px;
  margin-left: 90px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.head {
  display: flex;
  gap: 40px;
  margin-left: 90px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
}

.inline1,
.inline2,
.inline3,
.inline4 {
  padding-right: 30px;
  border-right: 1px solid #e0e0e0;
}

small {
  font-size: 5px;
  font-weight: normal;
}

#main_box {
  width: 700px;
  margin-left: 120px;
  margin-top: 60px;
<<<<<<< HEAD:Project_1/css/spec.css
  
=======
>>>>>>> 598875116ea00e0b6ab95cd47d35eb33f41a110e:first_project/css/spec.css
}

.main_head {
  width: 100%;
  font-size: 5px;
  margin-bottom: 30px;
<<<<<<< HEAD:Project_1/css/spec.css
 
=======
>>>>>>> 598875116ea00e0b6ab95cd47d35eb33f41a110e:first_project/css/spec.css
}

h2 {
  margin-bottom: 40px;
  font-size: 40px;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
<<<<<<< HEAD:Project_1/css/spec.css
  
}

#main_box h3 {
=======
}

h3 {
>>>>>>> 598875116ea00e0b6ab95cd47d35eb33f41a110e:first_project/css/spec.css
  font-size: 30px;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
<<<<<<< HEAD:Project_1/css/spec.css
  
=======
>>>>>>> 598875116ea00e0b6ab95cd47d35eb33f41a110e:first_project/css/spec.css
}

h3:hover {
  color: red;
}

td {
  width: 600px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

td:nth-child(2n+1) {
  color: #606060;
  width: 400px;
}

td:nth-child(2n) {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.main_foot {
  font-size: 15px;
  margin: 15px 0;
  padding: 30px 0;
  border-bottom: 1px solid #e0e0e0;
}

#footer_box {
  background-color: #061a25;
  color: white;
  width: 100%;
  margin-top: 60px;
  padding: 40px 100px;
}
a{
  cursor: pointer;
}
.modal {
  width: 100%;
  height: 100%;
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
  top: 100%;
  position: fixed;
  left: 0;
  background-color: white;
<<<<<<< HEAD:Project_1/css/spec.css
  overflow-x: hidden;

=======
>>>>>>> 598875116ea00e0b6ab95cd47d35eb33f41a110e:first_project/css/spec.css
}


.container.modal-open .modal {
  top: 0;
  height: 100%;
  overflow-y: auto;
}
.close-modal {
  text-decoration: none;
  background-color: red;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 15px 20px 15px;
  color: white;
  width: 15px;
  height: 15px;
  text-align: center;
  vertical-align:middle;
  float: right;
  margin-right: 300px;
  cursor: pointer;
<<<<<<< HEAD:Project_1/css/spec.css
}

#flexbox {
   display: flex;
   
 }



.sideimg { 
  margin-left: 60%;
  margin-top: 30%;
  height: 700px;
  position: relative;
}

 #img_height{
   position: absolute;
   top: 40%;
   right: 50%;
  
            font-weight: bold;
            font-size: 16px;}

#img_width { 
   position: absolute;
   top: 40%;
   right: 20%;
        font-weight: bold;
        font-size: 16px;
       }

#img_wheelbase {
  position: absolute;
  top: 75%;
  left:48%;
font-size: 16px;
            font-weight: bold;
          
      }





#img_length { 
 position: absolute;
 top: 75%;
 right: 20%;
  
  font-size: 16px;
  font-weight: bold;}

=======
}
>>>>>>> 598875116ea00e0b6ab95cd47d35eb33f41a110e:first_project/css/spec.css
